::-webkit-scrollbar {
    display: none;
}

/*menu vertical*/
#menu {
    position: absolute;
    top: 60.7%;
    width: 300px;
    height: 600px;
    overflow: auto;
    border: 1px solid #89c2d9;
    
}

/*menu superior*/
.navbar {
    position: absolute;
    top: 54.9%;
    width: 98.74%;
}
.link {
    text-decoration: none;
}

/*corpo*/
#corpo {
    position: absolute;
    top: 60.7%;
    left: 16.2%;
    width: 1597px;
    height: 600px;
    border: 1px solid #89c2d9;
    overflow: auto;
}

/*listagem de produtos de acordo com a categoria*/
.card {
    margin-left: 20px;
    margin-top: 20px;
}



/*layout aba de login*/
.login {
    border: 1px solid #89c2d9;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: 35%;
    top: 18%;
}
#acessar {
    width: 100%;
    background-color: #2a6f97;
    border: #2a6f97;
}

/*layout link carrinho*/ 
.carrinho {
    text-decoration: none;
}

/*3 botoes: 2(carrinho) 1(informaçções do produto)*/
.botoes-principais {
    width: 30%; 
    height: 60px; 
    background-color:#2a6f97; 
    border:#2a6f97;
}


/*Layout Corpo da Listagem de Informações do produto*/
.corpo-produto {
    position: relative;
}
.img-produto {
    position: absolute;
    left: 2%;
    top: 150%;
    border-radius: 5px;
    width: 400px;
}
.titulo-produto {
    position: absolute;
    left: 29%;
}
.informacoes-produto {
    position: absolute;
    top: 250%;
    left: 29%;
    width: 1100px;
}
.corpo-informacoes-complementares {
    position: absolute;
    top: 550px;
    left: 10%;
    width: 1000px;
}
.informacoes-complementares {
    width: 300px; height: 60px;
    color:#2a6f97;
}

.botao-adicionar-carrinho {
    position: absolute;
    top: 750px;
    left: 20%;
    width: 1000px;
}