#menu {
    width: 200px;
    height: 600px;
    overflow: auto;
    border: 1px solid black;
}
#corpo {
    position: absolute;
    top: 420px;
    left: 503px;
    width: 1095px;
    height: 600px;
    border: 1px solid black;
}