.table {
    width: 300px;
    text-align: center;
    border: 1px solid #fb8500;
    background-color: #023047;
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}